body {
  background-color: #fff8ea;
  color: #815b5b;
}

h1 {
  color: #594545;
}

h3 {
  color: #594545;
}

hr {
  background-color: #fff8ea;
  border-style: none;
  border-top-style: dotted;
  border-width: 0.5rem;
  width: 4%;
  color: #9e7676;
}
